<h1 class="heading-large">Preview and download your code</h1>
<p>Your picker and dataset is available as two files:</p>
<ul class="list">
  <li>picker.html</li>
  <li>data.json</li>
</ul>

<div class="grid-row">
  <div class="column-two-thirds">
    <hr>
    <details>
      <summary class="summary">Preview picker.html</summary>
      <div>
        <pre class="language-markup">
          <code class="language-markup">
            <%= @picker_html %>
          </code>
        </pre>
      </div>
    </details>
    <hr>
    <details>
      <summary class="summary">Preview data.json</summary>
      <div>
        <pre class="language-markup">
          <code class="language-markup">
            <%= @picker_data %>
          </code>
        </pre>
      </div>
    </details>
    <hr>
    <%= link_to download_zip_path, class: 'download-link' do %>
     <svg class="download-link__icon" aria-hidden="true" viewbox="0 0 25 25" height="25" width="25" xmlns="http://www.w3.org/2000/svg">
        <g>
          <path d="M23 5h2v20H5v-2h18V5z"></path>
          <path d="M0 0h20v20H0z"></path>
        </g>
      </svg>Download Files (zip)
    <% end %>
  </div>
</div>
