<h1 class="heading-xlarge">Create Register Picker</h1>

<div class="grid-row">
  <div class="column-two-thirds">
    <form action="/choose-field">
      <div class="form-group">
        <label class="form-label" for="list-of-registers">Choose a register</label>
        <select class="form-control" id="list-of-registers" name="selected_register">
          <option value="" disabled selected></option>
          <% @list_of_registers.each do |register| %>
          <option value="<%= register.register %>"><%= register.register.gsub('-', ' ').capitalize %></option>
          <% end %>
        </select>
      </div>

      <div class="form-group">
        <button class="button" type="submit" name="submit">Next</button>
      </div>
    </form>
  </div>
</div>
