<h1 class="heading-xlarge">Show picker</h1>

<div class="grid-row">
  <div class="column-two-thirds">
    <div class="form-group">
      <label class="form-label" for="autocomplete">
        Picker
      </label>
      <div id="autocomplete-wrapper"></div>
    </div>

    <div class="form-group">
      <%= link_to "Get the code", download_path, class: "button" %>
    </div>
  </div>
</div>

<%= content_for :javascript do %>
  <script type="text/javascript" src="https://unpkg.com/openregister-picker-engine@1.2.1"></script>
  <script type="text/javascript" src="https://unpkg.com/accessible-autocomplete@1.6.0"></script>
  <script type="text/javascript">
    function inputValueTemplate(result) {
      return result && result.name
    }

    function suggestionTemplate(result) {
      var path = result && result.path
        ? ' (' + result.path + ')'
        : ''
      return result && result.name + path
    }

    accessibleAutocomplete({
      element: document.querySelector('#autocomplete-wrapper'),
      id: 'autocomplete',
      source: openregisterPickerEngine({
        url: "<%= data_file_path %>"
      }),
      templates: {
        inputValue: inputValueTemplate,
        suggestion: suggestionTemplate
      }
    });
  </script>
<% end %>

<%= content_for :head do %>
  <link rel="stylesheet" media="screen" href="https://unpkg.com/accessible-autocomplete@1.6.0/dist/accessible-autocomplete.min.css" />
<% end %>
